# CODEOWNERS
# These owners will be automatically requested for review on PRs.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything
* @nirbhays

# Documentation
*.md @nirbhays
docs/ @nirbhays

# CI/CD
.github/ @nirbhays
